In [ ]:
import pandas as pd

text_data = [
"Technology,broadly defined as the application of scientific knowledge for practical purposes, has become an integral part of modern life, impacting nearly every facet of human existence. It encompasses a vast range of tools, techniques, and processes, from simple tools like hammers to complex systems like computers and the internet. Technology has revolutionized communication, making it faster and more accessible through smartphones and social media. It has transformed education, providing online learning platforms and interactive resources. In healthcare, advancements like telemedicine and medical imaging have improved diagnosis and treatment. Furthermore, technology drives innovation in various industries, enhancing productivity and efficiency. However, it's crucial to acknowledge that technology also presents challenges, including privacy concerns, the digital divide, and the potential for misuse, requiring a balanced and ethical approach to its development and implementation."
]

text_series = pd.Series(text_data)
display(text_series)

0    Technology,broadly defined as the application ...
dtype: object

In [ ]:
import re

cleaned_text_series = text_series.str.lower()
cleaned_text_series = cleaned_text_series.str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation and special characters
cleaned_text_series = cleaned_text_series.str.replace(r'\d+', '', regex=True) # Remove numbers
cleaned_text_series = cleaned_text_series.str.replace(r'[^a-z\s]', '', regex=True) # Remove any remaining non-alphabetic characters

display(cleaned_text_series)

0    technologybroadly defined as the application o...
dtype: object

In [ ]:
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize

tokenized_text = cleaned_text_series.apply(word_tokenize)
display(tokenized_text)

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

0    [technologybroadly, defined, as, the, applicat...
dtype: object

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
nltk.download('averaged_perceptron_tagger_eng')
def remove_stopwords(tokens):
  return [word for word in tokens if word not in stop_words]

filtered_tokens = tokenized_text.apply(remove_stopwords)
display(filtered_tokens)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.

0    [technologybroadly, defined, application, scie...
dtype: object

In [ ]:
import pandas as pd
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger') # Download the POS tagger

text_data = [
"Technology,broadly defined as the application of scientific knowledge for practical purposes, has become an integral part of modern life, impacting nearly every facet of human existence. It encompasses a vast range of tools, techniques, and processes, from simple tools like hammers to complex systems like computers and the internet. Technology has revolutionized communication, making it faster and more accessible through smartphones and social media. It has transformed education, providing online learning platforms and interactive resources. In healthcare, advancements like telemedicine and medical imaging have improved diagnosis and treatment. Furthermore, technology drives innovation in various industries, enhancing productivity and efficiency. However, it's crucial to acknowledge that technology also presents challenges, including privacy concerns, the digital divide and the potential for misuse, requiring a balanced and ethical approach to its development and implementation."
]

text_series = pd.Series(text_data)
display(text_series)

cleaned_text_series = text_series.str.lower()
cleaned_text_series = cleaned_text_series.str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation and special characters
cleaned_text_series = cleaned_text_series.str.replace(r'\d+', '', regex=True) # Remove numbers
cleaned_text_series = cleaned_text_series.str.replace(r'[^a-z\s]', '', regex=True) # Remove any remaining non-alphabetic characters

tokenized_text = cleaned_text_series.apply(word_tokenize)
display(tokenized_text)

stop_words = set(stopwords.words('english'))

def remove_stopwords(tokens):
  return [word for word in tokens if word not in stop_words]

filtered_tokens = tokenized_text.apply(remove_stopwords)
display(filtered_tokens)

lemmatizer = WordNetLemmatizer()

# Function to convert NLTK POS tags to WordNet POS tags
def nltk_to_wordnet_pos(nltk_tag):
    if nltk_tag.startswith('J'):
        return 'a' # Adjective
    elif nltk_tag.startswith('V'):
        return 'v' # Verb
    elif nltk_tag.startswith('N'):
        return 'n' # Noun
    elif nltk_tag.startswith('R'):
        return 'r' # Adverb
    else:
        return None # Default to None

def lemmatize_tokens(tokens):
  lemmatized = []
  pos_tags = nltk.pos_tag(tokens) # Get POS tags for tokens
  for word, tag in pos_tags:
    wntag = nltk_to_wordnet_pos(tag)
    if wntag is None:
        lemmatized.append(lemmatizer.lemmatize(word)) # Lemmatize without POS if tag is not recognized
    else:
        lemmatized.append(lemmatizer.lemmatize(word, wntag)) # Lemmatize with POS tag
  return lemmatized


lemmatized_tokens = filtered_tokens.apply(lemmatize_tokens)
display(lemmatized_tokens)


joined_lemmatized_text = lemmatized_tokens.apply(lambda tokens: ' '.join(tokens))

vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(joined_lemmatized_text)

print("Shape of the TF-IDF matrix:", tfidf_matrix.shape)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

0    Technology,broadly defined as the application ...
dtype: object

0    [technologybroadly, defined, as, the, applicat...
dtype: object

0    [technologybroadly, defined, application, scie...
dtype: object

0    [technologybroadly, define, application, scien...
dtype: object

Shape of the TF-IDF matrix: (1, 83)

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()

def lemmatize_tokens(tokens):
  return [lemmatizer.lemmatize(token) for token in tokens]

lemmatized_tokens = filtered_tokens.apply(lemmatize_tokens)
display(lemmatized_tokens)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

0    [technologybroadly, defined, application, scie...
dtype: object